@model UserONG

@{
    ViewData["Title"] = "Cadastro de ONG'S";
}

<div class="registration-background"></div>
<h4 class="registration-title">Cadastre aqui uma ONG !!</h4>


<mensage-sucess mensagem="@TempData["msg"]"></mensage-sucess>

<div class="form-container margin">
    <form asp-action="Cadastrar">
        <partial name="_Form" />
            
        <div style="display:flex;justify-content:space-between">
            <button type="submit" class="btn btn-lg btn-success" style="margin-left:51rem" >Cadastrar</button>
            <a class="btn btn-lg btn-secondary" asp-action="Cadastrar">Cancelar</a>

        </div>

    </form>
</div>