@{
    ViewData["Title"] = "Home Page ONG'S";
}


<div class="card mb-0" style="margin-top:3rem">

    <img src="~/img_home.jpg" class="card-img-top"  style="width:67rem;height:40rem">
    <div class="card-body ">
        <h5 class="card-title">Ajude quem Precisa</h5>
        <p class="card-text">Faça o bem e doue você também!</p>
        <p class="card-text">Todos os dias ajudamos aqueles que precisam, venha nos ajudar, encontre sua ONG e faça sua doação. Com a sua ajuda vamos conseguir todos aqueles que passam fome diariamente</p>
        <p class="card-text"><small class="text-muted">Faça parte da comunidade</small></p>
        <div class="align-items-center">
            <a class="btn btn-lg btn-outline-danger" asp-for="index" asp-controller="ONGsController">Quero Doar</a>
            
        </div>

    </div>
</div>

