@{
    ViewData["Title"] = "Home Page ONG'S";
}


<div class="card" style="margin-top:3rem">

    <img src="~/img_home.jpg" class="card-img-top"  style="width:69.2rem;height:40rem">
    <div class="card-body ">
        <h5 class="card-title">Ajude quem Precisa</h5>
        <p class="card-text">Faça o bem e doue você também!</p>
        <p class="card-text">Todos os dias ajudamos aqueles que precisam, venha nos ajudar, encontre sua ONG e faça sua doação. Com a sua ajuda vamos conseguir todos aqueles que passam fome diariamente</p>
        <p class="card-text"><small class="text-muted">Faça parte da comunidade</small></p>
        <div class="align-items-center">
            <a class="btn btn-lg" style="margin-bottom:1rem;margin-top:2rem;background-color:seagreen" asp-action="Index" asp-controller="ONGs">Quero Doar</a>
            
        </div>

    </div>
</div>
<hr style="border-width:3px"/>
<button type="button" class="list-group-item list-group-item-warning alert" style="background-color:purple;margin-left:20rem">
    Funcionalidades Desenvolvidas e Motivos de Contribuição
</button>
<div style="margin-bottom:2rem">
    <span class="font-weight-bold">

        Plataforma digital que conecta pessoas que queiram fazer doação em dinheiro com ongs que atuam com o combate à fome.
        O usuário poderá pesquisar em nossa base de dados as ONG'S que atuam no combate a fome, selecionando aquela de preferência,
        ele é redirecionado para a página com mais informações, onde também poderá realizar doções em dinheiro ( vale ressaltar que essas transações envolvendo dinheiro e bancos é apenas uma simulação)

        Em resumo Diminuir a distância entre pessoas que querem colaborar com a erradicação da fome e conectá-las com ONG'S que atuam com isso.
    </span>

</div>
<ol class="list-group list-group-numbered" id="funcionalidade">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold text-warning">Cadastro</div>
            - Cadastro de uma Nova ONG
        </div>
        <span class="badge bg-primary rounded-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold text-warning">Atualizar</div>
            - Atualizar os dados de uma ONG cadastrada
        </div>
        <span class="badge bg-primary rounded-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold text-warning">Remover</div>
            - Deletar uma ONG inativa
        </div>
        <span class="badge bg-primary rounded-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold text-warning">Mostar as ONG'S na página principal</div>
            - Listagem das ONG'S disponíveis para realizar uma doação. A listagem conta com breve informações e botões que levam para a página de Detalhes da ONG e um outro de Realizar um doação
        </div>
        <span class="badge bg-primary rounded-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold text-warning">Página de Configurações</div>
            - Listagem das ONG'S com informações relevantes e botões para Deletar ou Atualizar uma ONG
        </div>
        <span class="badge bg-primary rounded-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold text-warning">Realizar Doção</div>
            - Uma das principais funcionalidades que contempla a doação para uma ONG'S escolhida pelo usuário
        </div>
        <span class="badge bg-primary rounded-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold text-warning">Pesquisar Por ONG</div>
            - Realizar uma pesquisa pelo Nome da ONG de preferência
        </div>
        <span class="badge bg-primary rounded-pill">1</span>
    </li>
</ol>

