<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FIAP.Global_ImpactWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon"
          href="~/icone.png"
          type="image/x-icon" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <img src="~/restaurante.png" style="width:50px;border:solid;border-radius:30px;border-color:darkgray;padding:5px"/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Funcionalidades</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-for="cadastrar" asp-controller="ONGsController">Cadastro</a>
                            <a class="dropdown-item" asp-for="index" asp-controller="ONGsController">Veja todas as ONG's</a>
                            
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a  style="margin-right:1.5rem"  class="btn btn-primary my-2 my-sm-0">Login</a>
                    <a class="btn btn-secondary my-2 my-sm-0">Home</a>
                    <a style="margin-left:1.5rem" class="btn btn-secondary my-2 my-sm-0">ONG's'</a>
                </form>
            </div>
        </nav>





    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - FIAP.Global_ImpactWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
